/* bona-nova-regular - latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Bona Nova';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bona-nova-v10-latin_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/bona-nova-v10-latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bona-nova-v10-latin_cyrillic-ext_cyrillic-regular.woff') format('woff'); /* Modern Browsers */

  }
  /* bona-nova-italic - latin_cyrillic-ext_cyrillic */
  @font-face {
    font-family: 'Bona Nova';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/bona-nova-v10-latin_cyrillic-ext_cyrillic-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/bona-nova-v10-latin_cyrillic-ext_cyrillic-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bona-nova-v10-latin_cyrillic-ext_cyrillic-italic.woff') format('woff'); /* Modern Browsers */
  }
  /* bona-nova-700 - latin_cyrillic-ext_cyrillic */
  @font-face {
    font-family: 'Bona Nova';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/bona-nova-v10-latin_cyrillic-ext_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/bona-nova-v10-latin_cyrillic-ext_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bona-nova-v10-latin_cyrillic-ext_cyrillic-700.woff') format('woff'); /* Modern Browsers */

  }


* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #E5E5E5;;
}

a {
    text-decoration: none;
    padding: 6px;
    color: black;
}

a:hover {
    color: black; /* Цвет ссылки при наведении на нее курсора мыши */  
    background: #E5E5E5; /* Цвет фона */
    border-radius: 8px;
    transition: .3s;
   }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1190px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 100px;
    padding-left: 100px;
    background: #FFFFFF;
}

.logo-img {
    width: 200px;
    margin: 15px;
}


/* Header */

.header {
    background: #204ECF;
}

.header-container {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    background: #204ECF;
}


.header-nav-item-link {
    color: #FFFFFF;
}

.header-nav {
    margin-left: 20px;
}

.header-nav-list {
    display: flex;
}

.header-nav-list-item {
    margin-right: 20px;
    font-family: 'Bona Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

/* Developer */

.developer {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.developer-name-h1 {
    font-family: 'Bona Nova';
    font-weight: 700;
    font-size: 72px;
    line-height: 88px;

    color: #262D3D;
}

.developer-list {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.developer-item-phone {
    padding-left: 27px;
    background: url(img/phone.svg) left no-repeat !important;
    background-size: contain;
}

.developer-item {
    font-family: 'Bona Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.developer-item-mail{
    padding-left: 27px;
    background: url(img/mail.svg) left no-repeat !important;
    background-size: contain;
}

.developer-avatar-img {
    margin-left: 160px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.container-line {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #204ECF;
}

.developer-skill{
    text-align: center;
    font-family: 'Bona Nova';
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
}

/* Info */

.info-list {
    display: flex;
    flex-wrap: wrap;
}

.info-list-item:not(:last-child) {
    flex: 1 1 48%;
    padding: 10px;
    border-bottom: 2px solid #204ECF;;
}

.info-list-item:nth-child(2n) {
    margin-left: 20px;
} 

.info-list-item-h2 {
    margin: 15px;
    font-family: 'Bona Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;

    color: #8D8D8D;
}

.info-list-item-description-summary {
    font-family: 'Bona Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.info-item-list {
    display: flex;
    flex-wrap: wrap;
}

.info-item-list-item {
    margin: 10px 15px;
    padding: 8px 16px;
    gap: 10px;

    font-family: 'Bona Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    color: #000000;
    background: #EDF1FD;
    border-radius: 8px;
}

.info-list-item-code {
    font-family: 'Bona Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.info-list-item-project {
    text-align: center;
}

.info-list-item-project-link {
    font-family: 'Bona Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.info-item-education {
    gap: 10px;

    font-family: 'Bona Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding-left: 6px;
    line-height: 150%;

    color: #000000;
    background: #EDF1FD;
    border-radius: 8px;
}

.info-list-item-english {
    margin: 15px;
    font-family: 'Bona Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

/* Footer */

.footer {
    background: #204ECF;
}

.footer-container {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    background: #204ECF;    
}

.footer-link {
    color: #FFFFFF;
}